dist: xenial
language: python
python:
  - "3.7"
  - "3.7-dev"
install:
  - pip install -r requirements.txt.txt
script:
  - pytest
notifications:
  email:
    - iusupov.ai@phystech.edu
    - yusupovartyom@gmail.com
